.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: olivedrab;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: olivedrab;
}
